
html, body{
   margin:0;
   height: 100%;
}
body{
   display: flex;
   flex-direction: column;
   align-items: center;
	background:url(christmas-dark.png);
	font-family: 'Nunito', sans-serif;
}

a{
	color: #278eef;
}

main{
	margin: 15px;
	background: rgb(255, 255, 255);
   padding: 10px 25px;
   box-sizing: border-box;
}

h3.emoji{
   margin: 0.3em 0 0 0;
   font-size: 6em;
   text-align: center;
   text-indent: -9586px;
   background: url(gifts.svg) 50% 50% no-repeat;
   background-size: contain;
}
h1{
	font-family: 'Girassol', cursive;
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
   margin: 0.5em;
   line-height: 1.2em;
}
h1 .star{
	color: red;
}
p{
	font-size: 1.2em;
	text-align: center;
}
ol{
   padding-left: 2em;
}
li{
   margin-bottom: 0.3em;
}
.names_form{
   display: flex;
   flex-direction: column;
}
textarea{
	width: 50%;
	max-width: 50%;
	height: 10em;
	font-family: 'Nunito', sans-serif;
	padding: 0.5em;
	margin: 0 auto;
	display: block;
	font-size: 1.1em;
	border: 5px solid rgba(0,0,0,0.15);
   border-radius:15px;
   -webkit-appearance: none;
}
.buttons{
	display:flex;
	justify-content: center;
}
input.submit, input.help, .button{
	font-family: 'Nunito', sans-serif;
   display: inline-block;
   text-decoration:none;
	border: 4px solid rgba(0,0,0,0);
	font-size: 1em;
	padding: 0.5em 1em;
	margin: 1em 0.2em;
	background-color: #149b0d;
	color: #fff;
	font-weight: 800;
   cursor:pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: 0px;
}
input.help{
	background-color: #c5c5c5;
}
input:hover, .button:hover{
	border-color: rgba(0,0,0,0.25);
}

.error_panel{
   background-color: rgba(255,200,61,0.4);
   max-width: 70%;
   margin: 0.5em auto;
   padding: 0.5em 1em 0.5em 2.8em;
   font-size: 1.2em;
   border-radius: 10px;
   position: relative;
   display: none;
}
.error_panel:before{
   content: "⚠️";
   display: block;
   position: absolute;
   left: 10px;
   top: 50%;
   line-height: 0px;
   font-size: 1.2em;
}

.check_form{
   display:flex;
   flex-direction:column;
}

.check_panel{
   width: 100%;
   display:flex;
   flex-direction: column;
   margin:0 auto;
}

.check_name{
	font-family: 'Nunito', sans-serif;
	width: 95%;
	margin: 0.5em auto;
	box-sizing: border-box;
	font-size: 1.1em;
	padding: 0.3em 0.5em;
	word-wrap: normal;
	border: 3px solid rgba(0,0,0,0.15);
	background:#fff;
   text-align:left;
   max-width: 400px;
   display:block;
}

.default_panel{
   max-width: 80%;
   margin: 0.5em auto;
   padding: 2em 1em 0em 1em;
   font-size: 1.2em;
   border-radius: 10px;
   position: relative;
   display: none;
   text-align: center;
}

.result_panel{
   background-color: rgba(138,254,22,0.4);
   max-width: 80%;
   margin: 0.5em auto;
   padding: 2em 1em 0em 1em;
   font-size: 1.2em;
   border-radius: 10px;
   position: relative;
   display: none;
   text-align: center;
}
.result_panel:before{
   content: "🎁";
   display: block;
   position: relative;
   line-height: 0px;
   font-size: 1.5em;
   text-align: center;
   width: 100%;
}
.result_panel h2{
   font-size:1.4em;
   margin: 1em 0 0 0;
}
.result_panel .button{
   margin-top:0em;
}

.link_panel{
	width: 80%;
	margin: 0 auto;
	background-color: #fdfbb9;
	padding: 0.5em 1em;
	text-align: center;
	border-radius:15px;
	display:none;
}
.link_panel h3{
	margin: 0.5em 1em;
}
.link_panel p{
   margin: 0 auto;   
   font-size: 1em;
   max-width: 70%;
}
.link_panel input{
	font-family: 'Nunito', sans-serif;
	width: 95%;
	margin: 0.5em 0;
	box-sizing: border-box;
	font-size: 1.1em;
	padding: 0.3em 0.5em;
	word-wrap: normal;
	border: 3px solid rgba(0,0,0,0.15);
	background:#fff;
	text-align:left;
}

.how_panel, .credits_panel{
	color: #666;
	max-width: 80%;
	margin: 0 auto;
}
.how_panel h2{
	font-size:1.2em;
}
.how_panel ol, .credits_panel p{
	font-size: 0.85em;
}
.how_panel{
	display:none;
}
.credits_panel{text-align:center;}